html,body{
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}

.datatable-container{
    padding-top: 0px;
    /*overflow: auto;*/
}

.search-area{
    padding: 15px;
    border: 1px #ffe2e2 solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.form-item-no-margin .el-form-item{
    margin-bottom: 0px;
}

.his-echarts-area{
    height: 400px;
}

.device-list{
    overflow: auto;
    background-color: #ffffff;
    margin : 10px;
    padding: 10px;
}

.device-item{
    display: inline-block;
    width: 330px;
    height: 155px;
    margin-bottom: 30px;
    margin-right: 25px;
}


.device-monitor{
    height: 90px;
    position: relative;
}

.device-monitor-load{
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.device-info-name{
    display: inline-block;
    position: absolute;
    width: 190px;
    left: 90px;
    top : 0px;
    padding-left: 10px;
    text-align: left;
    height: 25px;
    line-height: 25px;
}

.device-info-status{
    display: inline-block;
    position: absolute;
    width: 190px;
    left: 90px;
    top : 25px;
    padding-left: 10px;
    height: 25px;
}

.device-info-content{
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 50px;
    left : 90px;
    line-height: 38px;
}


.sidebar{
    position: fixed;
    left: 0px;
    top: 60px;
    width: 400px;
    z-index: 10;
    box-sizing: border-box;
    background-color: #eee;
}

.tip{
    width: 0px;
    display: inline-block;
    height: 20px;
    border-top: 3px solid #0000ff00;
    border-right: 3px solid #0000ff00;
    border-bottom: 3px solid #0000ff00;
    border-left: 7px solid;
}

.device-monitor-item{
    height: 300px;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: #00000008 0px 0px 3px 3px;
    border-radius: 3px;
    overflow: hidden;
}
.device-monitor-title{
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 1px #eee solid;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #5aee00;
    border-radius: 5px;
}