<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>智能电管家-管理</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts-en.min.js"></script>
    <script src="/assets/js/management.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="root" v-cloak>
    <el-container :style="{width : windowSize.width + 'px',height : windowSize.height + 'px'}">
        <el-header style="padding: 0px;background-color: #1890ff;">
            <span style="font-weight: bold;font-size: 20px;height:60px;line-height: 60px;padding-left: 15px;color:white;">智能电管家-管理系统</span>
        </el-header>
        <el-container>
            <el-aside width="400px" style="overflow: auto;">
                <el-menu
                        @select="function(index){activeArea = index}"
                        style="height:100%;"
                        :default-active="activeArea">
                    <el-menu-item index="1">
                        <i class="el-icon-user"></i>
                        <span slot="title">用戶管理</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-bell"></i>
                        <span slot="title">设备管理</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">阈值设置</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <el-main :style="{height : windowSize.height - 60 + 'px'}">
                    <el-card class="box-card" style="height:98%;" v-show="activeArea == '1'">
                        <div slot="header">
                            <span>用戶管理</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="addUser">添加用户</el-button>
                        </div>
                        <el-table :data="user.userList" stripe :height="windowSize.height - 300 + 'px'">
                            <el-table-column prop="username" align="center" label="用戶名">

                            </el-table-column>
                            <el-table-column prop="role" align="center" label="用戶权限">

                            </el-table-column>
                            <el-table-column prop="name" align="center" label="姓名">

                            </el-table-column>
                            <el-table-column prop="tel" align="center" label="联系方式">

                            </el-table-column>
                            <el-table-column align="center" label="状态">
                                <template slot-scope="scope">
                                    <el-switch
                                            v-model="scope.row.active"
                                            active-text="启用"
                                            inactive-text="禁用" @change="userStatusChange(scope.row.id,$event);"></el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="primary" icon="el-icon-edit" size="small">编辑</el-button>
                                    <el-button type="danger" icon="el-icon-delete" size="small">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="text-align: right;padding-top:10px;">
                            <el-pagination
                                    background
                                    layout="prev, pager, next"
                                    :total="1000">
                            </el-pagination>
                        </div>
                    </el-card>
                    <el-drawer
                            title="添加用户"
                            :visible.sync="user.addUserDrawerShow"
                            direction="ltr">
                        <el-form label-width="100px" style="padding-right: 25px;" ref="userForm" :model="user.form" :rules="user.userFormRule">
                            <el-form-item label="用户名" prop="username">
                                <el-input v-model="user.form.username"></el-input>
                            </el-form-item>
                            <el-form-item label="密码" prop="password">
                                <el-input type="password" v-model="user.form.password"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="passwordRepeat">
                                <el-input type="password" v-model="user.form.passwordRepeat"></el-input>
                            </el-form-item>
                            <el-form-item label="姓名" prop="name">
                                <el-input v-model="user.form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="联系方式" prop="tel">
                                <el-input v-model="user.form.tel"></el-input>
                            </el-form-item>
                            <el-form-item label="权限" placeholder="请选择权限" prop="role">
                                <el-select  style="width:100%;" v-model="user.form.role">
                                    <el-option value="用戶">用戶</el-option>
                                    <el-option value="审核员">审核员</el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="启用" prop="active">
                                <el-switch v-model="user.form.active"></el-switch>
                            </el-form-item>
                            <el-form-item>
                                <el-button>保存</el-button>
                                <el-button>取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-drawer>

                    <el-card class="box-card" style="height:98%;" v-show="activeArea == '2'">
                        <div slot="header">
                            <span>设备管理({{device.deviceList.length}})</span>
                            <el-button style="margin-left: 100px;float: right; padding: 3px 0" type="text" @click="addDevice">添加设备</el-button>
                            <el-input v-model="device.deviceName" suffix-icon="el-icon-search" size="mini" style="float: right;width: 150px;"></el-input>
                        </div>
                        <el-table :data="showDevices" stripe :height="windowSize.height - 300 + 'px'">
                            <el-table-column prop="code" align="center" label="设备编号">

                            </el-table-column>
                            <el-table-column prop="name" align="center" label="设备名称">

                            </el-table-column>
                            <el-table-column prop="type" align="center" label="设备类型">

                            </el-table-column>
                            <el-table-column prop="capacity" align="center" label="容量">

                            </el-table-column>
                            <el-table-column prop="ct" align="center" label="CT">

                            </el-table-column>
                            <el-table-column prop="deptId" align="center" label="所属部门">

                            </el-table-column>
                            <el-table-column align="center" label="经纬度">

                            </el-table-column>
                            <el-table-column align="center" label="状态">
                                <template slot-scope="scope">
                                    <el-tag
                                    :type="scope.row.status === 1 ? 'success' : 'danger'" disable-transitions>
                                        <i :class="scope.row.status == 1 ? 'el-icon-check' : 'el-icon-error'"></i>
                                        {{scope.row.status == 1 ? '运行中' : '停运'}}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="操作" width="205">
                                <template slot-scope="scope">
                                    <el-button type="primary" icon="el-icon-edit" @click="editDevice(scope.row)" size="small">编辑</el-button>
                                    <!--<el-button type="danger" icon="el-icon-delete" size="small">删除</el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="text-align: right;padding-top:10px;">
                            <el-pagination
                                    :page-size="device.deviceList.length"
                                    background
                                    layout="prev, pager, next"
                                    :total="device.deviceList.length">
                            </el-pagination>
                        </div>
                    </el-card>

                    <el-card class="box-card" style="height:98%;" v-show="activeArea == '3'">
                        <div slot="header">
                            <span>阈值设置</span>
                            <!--<el-button style="float: right; padding: 3px 0" type="text" @click="addDevice">添加设备</el-button>-->
                        </div>
                        <el-form ref="thresholdForm" :model="threshold" label-width="120px" inline :rules="threshold.rules">
                            <el-form-item label="设备列表">
                                <el-select v-model="threshold.deviceCode" filterable remote clearable placeholder="请输入" :remote-method="deviceFilter" >
                                    <el-option
                                            v-for="item in threshold.deviceOptionList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" icon="el-icon-search">搜索</el-button>
                            </el-form-item>
                            <el-divider><i class="el-icon-setting"></i></el-divider>
                            <div>
                                <el-form-item label="电流过负荷" :prop="CODE_CURRENT_OVER_LOAD">
                                    <el-input
                                            placeholder="请输入"
                                            v-model.number="threshold[CODE_CURRENT_OVER_LOAD]">
                                        <span slot="suffix">%</span>
                                    </el-input>
                                </el-form-item>
                                <el-form-item label=" ">
                                    <el-tag>某相电流大于额定值{{threshold.currentOver}}%</el-tag>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label="超温" :prop="CODE_OVER_TEMPERATURE">
                                    <el-input v-model.number="threshold[CODE_OVER_TEMPERATURE]"><span slot="suffix">度</span></el-input>
                                </el-form-item>
                                <el-form-item label=" ">
                                    <el-tag>测温点超过{{threshold.overTemperature}}度</el-tag>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label="低电压" :prop="CODE_LOW_VOLTAGE">
                                    <el-input v-model.number="threshold[CODE_LOW_VOLTAGE]"><span slot="suffix">kV</span></el-input>
                                </el-form-item>
                                <el-form-item label=" ">
                                    <el-tag>相电压低于{{threshold.lowVoltage}}kV</el-tag>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label="三相不平衡" :prop="CODE_PHASE_UNBALANCE">
                                    <el-input v-model.number="threshold[CODE_PHASE_UNBALANCE]"><span slot="suffix">%</span></el-input>
                                </el-form-item>
                                <el-form-item label=" ">
                                    <el-tag>（最大电流-最小电流）/最大电流大于{{threshold.unbalance}}%</el-tag>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label="电量突增" :prop="CODE_ELECTRIC_INCREASE">
                                    <el-input v-model.number="threshold[CODE_ELECTRIC_INCREASE]"><span slot="suffix">%</span></el-input>
                                </el-form-item>
                                <el-form-item label=" ">
                                    <el-tag>后一时段电量增减超过前一时段的{{threshold.electricIncrease}}%</el-tag>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label="谐波过限" :prop="CODE_HARMONIC_OVER_LIMIT">
                                    <el-input v-model.number="threshold[CODE_HARMONIC_OVER_LIMIT]"></el-input>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item label=" ">
                                    <el-button type="success" v-on:click="saveThreshold">保存</el-button>
                                </el-form-item>
                            </div>
                        </el-form>
                    </el-card>

                    <el-drawer
                            @open="initDeptData"
                            :title="device.form.isEdit ? '设备编辑' : '添加设备'"
                            :visible.sync="device.deviceDrawerShow"
                            direction="ltr">
                        <el-form label-width="100px" style="padding-right: 25px;" ref="deviceForm" :model="device.form">
                            <el-form-item label="设备编码" prop="code" :rules="[{required : true,message : '请填写设备编码'}]">
                                <el-input v-model="device.form.code"></el-input>
                            </el-form-item>
                            <el-form-item label="设备名称" prop="name" :rules="[{required : true,message : '请填写设备名称'}]">
                                <el-input v-model="device.form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="设备类型" prop="type" :rules="[{required : true,message : '请选择设备类型'}]">
                                <el-input v-model="device.form.type"></el-input>
                            </el-form-item>
                            <el-form-item label="容量" prop="capacity" :rules="[{required : true,message : '请输入小于或等于4位的数字',type : 'number'}]">
                                <el-input v-model.number="device.form.capacity"></el-input>
                            </el-form-item>
                            <el-form-item label="CT" prop="ct" :rules="[{required : true,message : '请输入数字',type : 'number'}]">
                                <el-input v-model.number="device.form.ct"></el-input>
                            </el-form-item>
                            <el-form-item label="所属部门" prop="deptId" :rules="[{required : true,message : '请选择所属部门'}]">
                                <el-select v-model="device.form.deptId">
                                    <el-option v-for="dept in deptList" :label="dept.name" :value="dept.id"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="经度" prop="lng" :rules="[{required : true,message : '请输入经度'}]">
                                <el-input v-model="device.form.lng"></el-input>
                            </el-form-item>
                            <el-form-item label="纬度" prop="lat" :rules="[{required : true,message : '请输入纬度'}]">
                                <el-input v-model="device.form.lat"></el-input>
                            </el-form-item>
                            <el-form-item label="状态" prop="status">
                                <el-switch
                                        v-model="device.form.status"
                                        :active-value="1"
                                        :inactive-value="0"
                                        active-text="投运"
                                        inactive-text="停运">
                                </el-switch>
                            </el-form-item>
                            <el-form-item>
                                <el-button @click="doSaveDevice">保存</el-button>
                                <el-button @click="device.deviceDrawerShow = false">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-drawer>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
</html>